.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 1rem;

    position: relative;
}

.header > img {
    height: 5rem;
}

.header > nav > a {
    margin-left: 2rem;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 2rem;
    color: #088008;
}

@media screen and (min-width: 480px) {
    .header {
        justify-content: space-between;
        padding: 2rem 8rem;
    }
}